<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Create a New Post</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_photo">Photo</label>
                        {{ post_form.photo }}
                    </div>
                    <div class="form-group">
                        <label for="id_description">Description</label>
                        {{ post_form.description }}
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
    </div>
 
    <div class="feed_container_wrapper">
        {% for post in posts %}
            <div class="feed_container mb-4">
                {% include '_post_content.html' %}
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/feed.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>