<!DOCTYPE html>
<html>
<head>
    <title>View Profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Scout Project</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container mt-5">
        <h2>Profile</h2>
        {% if profile %}
            <p><strong>First Name:</strong> {{ profile.first_name }}</p>
            <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
            <p><strong>Position:</strong> {{ profile.position }}</p>
            <p><strong>Age:</strong> {{ profile.age }}</p>
            <p><strong>Height:</strong> {{ profile.height }}</p>
            <p><strong>Weight:</strong> {{ profile.weight }}</p>
            <p><strong>Agility:</strong> {{ profile.agility }}</p>
            <p><strong>Power:</strong> {{ profile.power }}</p>
            <p><strong>Speed:</strong> {{ profile.speed }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
            <p><strong>Video Links:</strong> {{ profile.video_links }}</p>
            <p><strong>Looking for Team:</strong> {{ profile.looking_for_team }}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        {% else %}
            <p>No profile found.</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>